wp-content/plugins/bwp-minify/cache

# Thanks to: https://gist.github.com/jdbartlett/444295

# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!wp-content/

# Ignore everything in the "wp-content" directory, except the "plugins" and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/

# Ignore everything in the "plugins" directory, except the plugins you specify
wp-content/plugins/*
# !wp-content/plugins/lindahls-post-type-blocks.php

# Ignore everything in the "themes" directory, except the themes you specify
wp-content/themes/*
!wp-content/themes/grythyttan/

!*.sql.gz
!*.sql

node_modules/
.sass-cache/
dploy.yaml
*.swp
*.psd
