
        <script type="text/javascript" charset="utf-8">
            document.createElement('picture');
        </script>
        {{ function('get_scripts') }}
        {{ function('wp_footer') }}
    </body>
</html>

