@charset "UTF-8";
/* ==========================================================================
   SCSS
   ========================================================================== */
/*
 * Färger
 */
/*
 * Grid
 */
/*
 * Mixins
 */
/* ==========================================================================
Globals
========================================================================== */
html, body {
  height: 100%; }

body.mobelserie {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
body.klassikerserien {
  background: url("../img/bg-klassikerserien.jpg") no-repeat center center fixed; }
body.high-tech {
  background: url("../img/bg-hightech.jpg") no-repeat center center fixed; }
body.bryggeriserien {
  background: url("../img/bg-bryggeriserien.jpg") no-repeat center center fixed; }

/*
 * Element
 */
img {
  max-width: 100%;
  height: auto; }

section {
  overflow: hidden;
  position: relative; }

.button {
  padding: 13px 20px 10px 20px;
  border-radius: 20px;
  display: inline-block;
  border: 2px solid #9f9f9f;
  font-size: 15px;
  text-decoration: none;
  line-height: 1;
  color: black;
  transition: background-color border .2s; }

.round-button {
  font-size: 15px;
  width: 90px;
  height: 90px;
  border-radius: 100px;
  display: table-cell;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  transition: all .2s; }
  .round-button:hover {
    background: #006539;
    color: white !important;
    border: 2px solid #006539; }

.green-border {
  border: 2px solid #006539; }

.green-fill {
  background: #006539;
  color: white; }

.white-fill {
  background: white;
  color: #006539; }

.white-border {
  border: 2px solid white; }

.transparent-fill.white-border {
  color: white; }
.transparent-fill.green-border {
  color: #006539; }

/*
 * Typografi
 */
body {
  font-family: HelveticaNeueLTStd-Lt;
  font-weight: normal;
  font-style: normal; }

h1, h2 {
  color: #006539;
  font-weight: lighter; }

h1 {
  font-size: 45px;
  line-height: 1.1; }

h2 {
  margin: 0;
  font-size: 35px;
  line-height: 1; }

p {
  font-weight: lighter; }

/*
 * Layout
 */
.site-width {
  margin: 0 auto;
  display: block;
  max-width: 1170px;
  width: 95%;
  position: relative; }

.full-height {
  min-height: 100vh; }

/*
 * Slider
 */
.slider .full-height {
  min-height: 80vh; }
.slider .title-br {
  background: white; }
.slider .slick-dots {
  margin: 0;
  padding: 0;
  position: relative;
  top: -51px;
  text-align: center; }
  .slider .slick-dots li {
    margin: 0 6px;
    display: inline-block; }
  .slider .slick-dots button {
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    text-indent: -9999px;
    color: white;
    background: white;
    border: none; }
  .slider .slick-dots .slick-active button {
    background: #9f9f9f; }

/* ==========================================================================
Grid
========================================================================== */
.column-3 {
  width: 33.333%;
  float: left; }

.inner-column {
  padding: 0 1px; }

/* ==========================================================================
Header & meny
========================================================================== */
.site-header {
  display: inline-block;
  width: 100%;
  background: white;
  z-index: 2;
  -webkit-transition-property: background;
  -webkit-transition-duration: .2s;
  transition-property: background;
  transition-duration: .2s; }
  .site-header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .site-header .inner {
    margin: 0 auto;
    display: block;
    width: 95%; }
  .site-header .logo {
    margin-right: 20px; }
    .site-header .logo img {
      margin: 18px 0;
      max-width: 180px;
      width: 100%; }
  .site-header .header-border {
    display: none;
    position: relative;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background: black;
    opacity: .1; }

.home .site-header {
  background: none; }
  .home .site-header.fixed {
    background: white; }
    .home .site-header.fixed .header-border {
      display: block; }

/*
 * Logga och social media
 */
.brand {
  display: inline-block;
  display: block;
  float: left;
  width: 50%; }
  .brand:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.logo,
.social-media-icons {
  float: left; }

.social-media-icons {
  margin-top: 35px; }
  .social-media-icons ul {
    margin: 0;
    padding: 0; }
  .social-media-icons li {
    margin: 0 10px;
    display: block;
    float: left; }
  .social-media-icons img {
    height: 18px; }

/*
 * Menyn
 */
.mobile-menu-icon-wrap {
  margin-top: 22px;
  float: right; }

.mobile-menu-icon {
  width: 30px;
  height: 30px;
  background: url("../img/icons/icon-mobler.svg") no-repeat white;
  border: none;
  text-indent: -9999px; }
  .mobile-menu-icon:focus {
    outline: 0; }

.main-menu {
  clear: both;
  display: none; }
  .main-menu.open {
    display: block; }
  .main-menu ul {
    margin: 0;
    padding: 0; }
  .main-menu .main-menu-item {
    margin: 9px auto;
    max-width: 320px;
    display: block; }
    .main-menu .main-menu-item a {
      padding: 14px 46px 10px 20px;
      display: block;
      font-size: 13px;
      text-transform: uppercase;
      background-repeat: no-repeat;
      background-size: auto 18px;
      background-position: right 20px center; }
      .main-menu .main-menu-item a.active, .main-menu .main-menu-item a:hover {
        color: white;
        background-color: #9f9f9f; }
    .main-menu .main-menu-item .history {
      padding: 14px 60px 10px 20px;
      background-image: url("../img/icons/icon-flag.svg"); }
      .main-menu .main-menu-item .history:hover, .main-menu .main-menu-item .history.active {
        background-image: url("../img/icons/icon-flag-hover.svg"); }
    .main-menu .main-menu-item .reseller {
      background-image: url("../img/icons/icon-marker.svg"); }
      .main-menu .main-menu-item .reseller:hover, .main-menu .main-menu-item .reseller.active {
        background-image: url("../img/icons/icon-marker-hover.svg"); }
    .main-menu .main-menu-item .furniture-series {
      background-image: url("../img/icons/icon-mobler.svg"); }
      .main-menu .main-menu-item .furniture-series:hover, .main-menu .main-menu-item .furniture-series.active {
        background-image: url("../img/icons/icon-mobler-hover.svg"); }
  .main-menu .social-media-icons {
    margin-top: 18px;
    float: none; }
    .main-menu .social-media-icons ul {
      text-align: center; }
    .main-menu .social-media-icons li {
      float: none;
      display: inline; }
    .main-menu .social-media-icons a {
      text-decoration: none; }

/* ==========================================================================
Sektioner
========================================================================== */
/*
 * Generellt
 */
.has-background {
  background-position: 50% 50%;
  background-size: cover; }

.title-br {
  margin: 24px auto 30px auto;
  width: 100px;
  height: 2px;
  background: #ccc; }

.section-content {
  width: 100%; }
  .section-content .title {
    /*margin: 0;*/ }
  .section-content h1 {
    text-align: center; }
  .section-content p {
    margin: 0;
    text-align: center; }
  .section-content.on-background {
    color: white; }
    .section-content.on-background h1, .section-content.on-background p {
      color: white; }

/*
 * Intro
 */
#intro h1 {
  font-size: 46px; }
#intro .section-content p {
  margin-bottom: 30px;
  text-align: center; }
#intro .section-content p {
  text-align: left; }
#intro .title-br {
  margin-left: auto;
  margin-right: auto; }
#intro .floating-button {
  position: absolute;
  top: 50vh;
  margin-top: -50px;
  width: 100%; }
  #intro .floating-button .button-wrap {
    position: absolute;
    right: 0; }

/*
 * Hantverk
 */
#hantverk {
  /* Slider */ }
  #hantverk .section-content {
    margin-top: 105px; }
  #hantverk .round-button {
    margin: 50px auto 0 auto;
    display: block;
    width: 90px;
    height: 90px;
    line-height: 90px; }
  #hantverk .slide-1 {
    background-image: url("../img/slides/hantverk/hantverk-1.jpg"); }
    #hantverk .slide-1 .section-content {
      margin: 0 auto;
      display: block;
      margin-top: 105px;
      text-align: center; }
  #hantverk .slide-2 {
    background-image: url("../img/slides/hantverk/hantverk-2.jpg"); }
  #hantverk .slide-3 {
    background-image: url("../img/slides/hantverk/hantverk-3.jpg"); }
  #hantverk .slide-4 {
    background-image: url("../img/slides/hantverk/hantverk-4.jpg"); }
  #hantverk .slide-5 {
    background-image: url("../img/slides/hantverk/hantverk-5.jpg"); }

#high-tech .section-image {
  width: 50%; }
#high-tech .round-button {
  position: relative;
  top: 30px; }

#historia {
  background-image: url("../img/historia.jpg"); }

#produktserier .inner-column:hover h2 {
  color: #006539; }
#produktserier .inner-column:hover p {
  display: none; }
#produktserier .inner-column:hover .title-br {
  background: #006539; }
#produktserier .inner-column:hover .mouse-over-image {
  opacity: 1; }
#produktserier .inner-column:hover .button {
  background: #006539;
  color: white;
  border: 2px solid #006539; }
#produktserier h1 {
  text-align: center; }
#produktserier h2 {
  color: white; }
#produktserier p {
  color: white; }
#produktserier figure {
  margin: 0;
  position: relative; }
  #produktserier figure figcaption {
    padding: 40px 30px;
    position: absolute;
    top: 0;
    left: 0; }
#produktserier .mouse-over-image {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity .4s; }
#produktserier .title-br {
  margin: 22px 0 18px 0;
  background-color: white; }
#produktserier .button {
  position: absolute;
  bottom: 40px;
  left: 30px; }

/* ==========================================================================
Sidor
========================================================================== */
/*
 * Våra möbelserier
 */
.overview {
  margin-top: 150px; }
  .overview h1 {
    margin-top: 0;
    color: white; }
  .overview .title-br {
    background: white; }

.overview-categories .title-br {
  margin-bottom: 0; }

.overview-category-description {
  color: white; }

.overview-category-products {
  display: inline-block;
  margin-top: 88px; }
  .overview-category-products:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .overview-category-products ul {
    margin: 0;
    padding: 0; }
  .overview-category-products li {
    width: 50%;
    float: left;
    display: block; }
    .overview-category-products li .inner {
      padding: 1px; }

/* ==========================================================================
Footer
========================================================================== */
footer {
  margin: 0 0 20px 0;
  width: 100vw;
  height: 80vh;
  min-height: 400px;
  position: relative;
  top: 130px;
  background-image: url("../img/made.jpg");
  display: table-cell;
  vertical-align: middle; }
  footer .logo {
    margin-top: -200px;
    float: none;
    font-size: 18px;
    text-align: center; }
    footer .logo img {
      margin: 0 auto;
      display: block;
      max-width: 300px;
      width: 100%; }

/* ==========================================================================
Helpers
========================================================================== */
.hide-on-small {
  display: none; }

.center-block {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block; }

@media (min-width: 500px) {
  /* ==========================================================================
  Sidor
  ========================================================================== */
  /*
   * Våra möbelserier
   */
  .overview-category-products li {
    width: 33.333333%; } }
@media (min-width: 769px) {
  /* ==========================================================================
  Sektioner
  ========================================================================== */
  /*
   * Generellt
   */
  .title-br {
    margin: 24px 0 30px 0; }

  .section-content {
    width: 40.17094017094%; }
    .section-content h1,
    .section-content p {
      text-align: left; }

  /*
   * Intro
   */
  #intro {
    background-image: url("../img/start-large.jpg"); }
    #intro .section-content p {
      text-align: left; }
    #intro .title-br {
      margin-left: 0;
      margin-right: 0; }

  /*
   * Hantverk
   */
  #hantverk .slide-1 .section-content {
    width: 48.717948717949%; }
  #hantverk .slide-1 h1,
  #hantverk .slide-1 p {
    text-align: center; }

  /*
   * High tech
   */
  #high-tech .section-image {
    float: left; }
  #high-tech .section-content {
    margin-top: 130px;
    margin-left: 52.564102564103%;
    width: 48.717948717949%; }

  /*
   * Historia
   */
  #historia .section-content {
    margin-top: 110px; }

  /*
   * Produktserier
   */
  #produktserier h1 {
    margin: 116px 0 53px 0; }

  /* ==========================================================================
  Sidor
  ========================================================================== */
  /*
   * Våra möbelserier
   */
  .overview-category-description {
    margin-right: 2.564102564103%;
    width: 31.623931623932%;
    float: left; }

  .overview-category-products {
    width: 65.811965811966%;
    float: right; }
    .overview-category-products li {
      width: 24.545454545455%; }

  /* ==========================================================================
  Helpers
  ========================================================================== */
  .hide-on-small {
    display: block; }

  .hide-on-large {
    display: none; } }
@media (min-width: 930px) {
  .brand {
    float: left; }

  .main-menu {
    display: block;
    margin-top: 25px;
    float: right; }
    .main-menu .main-menu-item {
      margin: 0 3px;
      display: inline-block; }

  .below-fixed-header {
    padding-top: 150px; } }
@media (min-width: 1024px) {
  .site-header {
    position: fixed; }

  /*
   * Typografi
   */
  h1 {
    font-size: 50px; }

  /*
   * Intro
   */
  #intro h1 {
    font-size: 56px; }
  #intro .section-content {
    margin-top: 230px; } }

/*# sourceMappingURL=style.css.map */
