@media (min-width: 700px) {

    .section-content {
        width: 48.717948717949%;
    }

    #intro {
        .section-content {
            margin-top: 160px;
            width: 40.17094017094%;
        }
    }

    #high-tech {
        .section-content {
            margin-top: 130px;
            margin-left: 52.564102564103%;
        }
    }

    #historia {
        .section-content {
            margin-top: 110px;
            width: 40.17094017094%;
        }
    }

}

@media (min-width: 930px) {

    .site-header {
        position: fixed; 
    }

    .brand {
        float: left;
    }

    .main-menu {
        display: block;
        margin-top: 25px;
        float: right;
        li {
            margin: 0;
            display: inline-block;
        }
    }

}
