@media (min-width: 700px) {

    /* ==========================================================================
    Sektioner
    ========================================================================== */

    /*
     * Generellt
     */
    .section-content {
        width: 48.717948717949%;
    }

    /*
     * Intro
     */
    #intro {
        .section-content {
            margin-top: 160px;
            width: 40.17094017094%;
        }
    }

    /*
     * High tech
     */
    #high-tech {
        .section-content {
            margin-top: 130px;
            margin-left: 52.564102564103%;
        }
    }

    /*
     * Historia
     */
    #historia {
        .section-content {
            margin-top: 110px;
            width: 40.17094017094%;
        }
    }

    /*
     * Produktserier
     */
    #produktserier {
        h1 {
            margin: 116px 0 53px 0;
        }
    }

    /* ==========================================================================
    Sidor
    ========================================================================== */
    
    /*
     * Våra möbelserier
     */
    .overview-category-description {
        margin-right: 2.564102564103%;
        width: 31.623931623932%;
        float: left;
    }
    .overview-category-products {
        width: 65.811965811966%;
        float: right;
    }

}

@media (min-width: 930px) {

    .site-header {
        position: fixed; 
    }

    .brand {
        float: left;
    }

    .main-menu {
        display: block;
        margin-top: 25px;
        float: right;
        li {
            margin: 0;
            display: inline-block;
        }
    }

}
