/* ==========================================================================
   SCSS
   ========================================================================== */

/*
 * Färger
 */
$green: #006539;
$darkGrey: #9f9f9f;

/*
 * Grid
 */
$site-width: 1170px;

/*
 * Mixins
 */
@mixin center-block {
    margin: 0 auto;
    display: block;
}
@mixin clearfix {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
@mixin reset {
    margin: 0;
    padding: 0;
}

/* ==========================================================================
Globals
========================================================================== */

/*
 * Element
 */
img {
    max-width: 100%;
    height: auto;
}
section {
    overflow: hidden;
    position: relative;
}
.button {
    font-size: 15px;
}
.round-button {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: table-cell;
    background: $green;
    color: white;
    line-height: 1;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
}

/*
 * Typografi
 */
h1, h2 {
    color: $green;
    font-weight: lighter;
}
h1 {
    font-size: 50px;
    line-height: 1.1;
}
h2 {
    margin: 0;
    font-size: 35px;
    line-height: 1;
}
p {
    font-weight: lighter;
}

/*
 * Layout
 */
.site-width {
    @include center-block;
    max-width: $site-width;
    width: 95%;
}
.full-height {
    min-height: 100vh;
}

/*
 * Slider
 */
.slider {
    .slick-dots {
        margin: 0;
        padding: 0;
        position: relative;
        top: -51px;
        text-align: center;
        li {
            margin: 0 6px;
            display: inline-block;
        }
        button {
            padding: 0;
            width: 10px;
            height: 10px;
            border-radius: 100px;
            text-indent: -9999px;
            color: white;
            background: white;
            border: none;
        }
        .slick-active button {
            background: $darkGrey;
        }
    }
}

/* ==========================================================================
Header & meny
========================================================================== */

.site-header {
    @include clearfix;
    width: 100%;
    z-index: 2;
    -webkit-transition-property: background;
    -webkit-transition-duration: .2s;
    transition-property: background;
    transition-duration: .2s;
    .inner {
        @include center-block;
        width: 95%;
    }
    .logo img {
        margin: 18px 0;
        max-width: 180px;
        width: 100%;
    }
    &.fixed {
        background: white;
    }
}
/*
 * Logga och social media
 */
.brand {
    @include clearfix;
    display: block;
}
.logo,
.social-media-icons {
    float: left;
}

.social-media-icons {
    margin-top: 31px;
    ul {
        @include reset;
    }
    li {
        margin: 0 10px;
        display: block;
        float: left;
    }
    img {
        height: 18px;
    }
}

/*
 * Menyn
 */
.main-menu {
    display: none;
    ul {
        @include reset;
    }
    li {
        margin: 9px auto;
        max-width: 320px;
        display: block;
    }
    a {
        padding: 0 40px 0 20px;
        height: 38px;
        line-height: 38px;
        display: block;
        border-radius: 20px;
        background: white;
        background-repeat: no-repeat;
        background-size: auto 18px;
        background-position: right 10px center;
        border: 2px solid $darkGrey;
        font-size: 13px;
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        &.active,
        &:hover {
            color: white;
            background: $darkGrey;
        }
    }
    .history {
        background-image: url('../img/icons/icon-flag.svg');
    }
    .reseller {
        background-image: url('../img/icons/icon-marker.svg');
    }
    .furniture-series {
        background-image: url('../img/icons/icon-mobler.svg');
    }
}

/* ==========================================================================
Sektioner
========================================================================== */

/*
 * Generellt
 */
.has-background {
    background-position: 50% 50%;
    background-size: cover;
}

.title-br {
    margin: 24px 0 30px 0;
    width: 100px;
    height: 2px;
    background: #ccc;
}
.section-content {
    width: 100%;
    .title {
        margin: 0;
    }
    
    p {
        margin: 0;
    }
    &.on-background {
        color: white;
        h1, p {
            color: white;
        }
    }
}

/*
 * Intro
 */
#intro {
    background-image: url('../img/start.jpg');
    h1 {
        font-size: 56px;
    }
    .button {
        position: relative;
        top: 30px;
    }
    .section-content {
    }
}

/*
 * Hantverk
 */

#hantverk {
    .section-content {
        @include center-block;
        margin-top: 105px;
        text-align: center;
    }
    .button {
        margin: 50px auto 0 auto;
        display: block;
        width: 90px;
        height: 90px;
        line-height: 90px;
        background: none;
        border: 2px solid white;
    }

    /* Slider */
    .slide-1 {
        background-image: url('../img/slides/hantverk/hantverk-1.jpg');
    }
    .slide-2 {
        background-image: url('../img/slides/hantverk/hantverk-2.jpg');
    }
    .slide-3 {
        background-image: url('../img/slides/hantverk/hantverk-3.jpg');
    }
    .slide-4 {
        background-image: url('../img/slides/hantverk/hantverk-4.jpg');
    }
    .slide-5 {
        background-image: url('../img/slides/hantverk/hantverk-5.jpg');
    }
}

#high-tech {
    .section-content {
    }
}

#historia {
    background-image: url('../img/historia.jpg');
    .section-content {
    }
}

#produktserier {
    .inner-column:hover {
        h2 {
            color: $green;
        }
        .title-br {
            background: $green;
        }
    }
    h1 {
        margin: 116px 0 53px 0;
        text-align: center;
    }
    h2 {
        color: #9f9f9f;
    }
    figure {
        margin: 0 0 23px 0;
    }
    .title-br {
        margin: 22px 0 18px 0;
    }
    article {
        padding-right: 20px;
    }
}

/* ==========================================================================
Footer
========================================================================== */

footer {
    margin: 125px 0;
    .logo {
        float: none;
        img {
            @include center-block;
            max-width: 250px;        
            width: 100%;
        }
    }
}

/* ==========================================================================
Grid
========================================================================== */

.row {}
.column-3 {
    width: 33.333%;
    float: left;
}
.inner-column {
    padding: 0 1px;
}

/* ==========================================================================
Helpers
========================================================================== */
.center-block {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
}


@import "mq"
