/* ==========================================================================
   SCSS
   ========================================================================== */

/*
 * Färger
 */
$green: #006539;
$darkGrey: #9f9f9f;

/*
 * Grid
 */
$site-width: 1240px;

/*
 * Mixins
 */
@mixin center-block {
    margin: 0 auto;
    display: block;
}
@mixin clearfix {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
@mixin reset {
    margin: 0;
    padding: 0;
}

/* ==========================================================================
Globals
========================================================================== */

/*
 * Element
 */
img {
    max-width: 100%;
    height: auto;
}
section {
    overflow: hidden;
    position: relative;
}
.button {
    font-size: 15px;
}
.round-button {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: table-cell;
    background: $green;
    color: white;
    line-height: 1;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
}

/*
 * Typografi
 */
h1, h2 {
    color: $green;
    font-weight: lighter;
}
h1 {
    font-size: 50px;
    line-height: 1.1;
}
h2 {
    margin: 0;
    font-size: 35px;
    line-height: 1;
}
p {
    font-weight: lighter;
}

/*
 * Layout
 */
.site-width {
    @include center-block;
    max-width: $site-width;
    width: 95%;
}
.full-height {
    min-height: 100vh;
}

/*
 * Slider
 */
.slider {
    .inner-slide {
        position: relative;
    }
    .has-background {
        width: 100%;
        left: auto;
        right: auto;
    }
    .slide img {
        z-index: 1;
    }
    .slick-dots {
        margin: 0;
        padding: 0;
        position: relative;
        top: -51px;
        text-align: center;
        li {
            margin: 0 6px;
            display: inline-block;
        }
        button {
            padding: 0;
            width: 10px;
            height: 10px;
            border-radius: 100px;
            text-indent: -9999px;
            color: white;
            background: white;
            border: none;
        }
        .slick-active button {
            background: $darkGrey;
        }
    }
}

/* ==========================================================================
Header & meny
========================================================================== */

.site-header {
    @include clearfix;
    width: 100%;
    padding: 18px 0;
    background: white;
    .logo img {
        max-width: 180px;
        width: 100%;
    }
}
/*
 * Logga och social media
 */
.logo,
.social-media-icons {
    float: left;
}

.social-media-icons {
    ul {
        @include reset;
    }
    li {
        margin: 0 10px;
        display: inline-block;
    }
    img {
        height: 18px;
    }
}

/*
 * Menyn
 */
.main-menu {
    float: right;
    ul {
        @include reset;
    }
    li {
        display: inline-block;
    }
    a {
        padding: 10px 22px;
        border-radius: 20px;
        background: white;
        border: 2px solid $darkGrey;
        font-size: 13px;
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        &.active,
        &:hover {
            color: white;
            background: $darkGrey;
        }
    }
    img {
        height: 18px;
    }
}

/* ==========================================================================
Sektioner
========================================================================== */

/*
 * Generellt
 */
.section-background {}

.has-background {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
}

.title-br {
    margin: 24px 0 30px 0;
    width: 100px;
    height: 2px;
    background: #ccc;
}
.section-content {
    width: 45.967741935484%;
    .title {
        margin: 0;
    }
    
    p {
        margin: 0;
    }
    &.on-background {
        color: white;
        h1, p {
            color: white;
        }
    }
}

/*
 * Intro
 */
#intro {
    h1 {
        font-size: 56px;
    }
    .button {
        position: relative;
        top: 30px;
    }
    .section-content {
        margin-top: 160px;
        width: 37.903225806452%;
    }
}

/*
 * Hantverk
 */

#hantverk {
    .section-content {
        @include center-block;
        margin-top: 105px;
        text-align: center;

    }
    .button {
        margin: 50px auto 0 auto;
        display: block;
        width: 90px;
        height: 90px;
        line-height: 90px;
        background: none;
        border: 2px solid white;
    }
}

#high-tech {
    .section-content {
        margin-top: 130px;
        margin-left: 49.596774193548%; 
    }
}

#historia {
    .section-content {
        margin-top: 110px;
        width: 37.903225806452%;
    }
}

#produktserier {
    h1 {
        margin: 116px 0 53px 0;
        text-align: center;
    }
    figure {
        margin: 0 0 23px 0;
    }
    .title-br {
        margin: 22px 0 18px 0;
    }
    article {
        padding-right: 20px;
    }
}

/* ==========================================================================
Footer
========================================================================== */

footer {
    margin: 125px 0;
    .logo {
        float: none;
        img {
            @include center-block;
            max-width: 250px;        
            width: 100%;
        }
    }
}

/* ==========================================================================
Grid
========================================================================== */

.row {}
.column-3 {
    width: 33.333%;
    float: left;
}
.inner-column {
    padding: 0 1px;
}

/* ==========================================================================
Helpers
========================================================================== */
.center-block {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
}


@import "mq"
