<div class="inner-column">
    <a href="{{site.link}}/vara-mobler/klassikerserien">
        <figure class="with-caption-overlay">
            <img src="{{theme.link}}/assets/img/mo-klassikerserien.jpg" alt="Klassikerserien" class="mouse-over-image">
            <img src="{{theme.link}}/assets/img/klassikerserien.jpg" alt="Klassikerserien">
            <figcaption>
            <h2 class="title">Klassikerserien</h2> 
            <div class="title-br"></div>
            <p>Klassikerserien har en speciell plats i mångas hjärtan, och är ett kärt inslag i svenska trädgårdar och täppor.</p>
            </figcaption>
            <span class="button transparent-fill white-border">Se hela serien</span>
        </figure>
    </a>
</div>
