<div class="inner-column">
    <a href="{{site.link}}/no/vara-mobler/klassikerserien">
        <figure class="with-caption-overlay">
            <img data-src="{{theme.link}}/assets/img/mo-klassikerserien.jpg" alt="Klassikerserien" class="mouse-over-image">
            <img data-src="{{theme.link}}/assets/img/klassikerserien.jpg" alt="Klassikerserien">
            <noscript><img src="{{theme.link}}/assets/img/klassikerserien.jpg" alt="Klassikerserien"></noscript>
            <figcaption>
            <h2 class="title">Klassikerserien</h2> 
            <div class="title-br"></div>
            <p>Klassikerserien har en spesiell plass i manges hjerter og er et kjært innslag i svenske hager og bakgårder.</p>
            </figcaption>
            <span class="button transparent-fill white-border">Se hele serien</span>
        </figure>
    </a>
</div>
