<section id="produktserier" class="site-width">
    <div class="inner">
        <h1>Vilken är din favorit?</h1>
        <div class="row">
            <div class="column-3">
                {% include 'partials/produktserier-klassikerserien.twig' %} 
            </div>
            <div class="column-3">
                {% include 'partials/produktserier-high-tech.twig' %} 
            </div>
            <div class="column-3">
                {% include 'partials/produktserier-bryggeriserien.twig' %} 
            </div>
        </div>
    </div> 
</section>
