<div class="inner-column">
    <a href="{{site.link}}/vara-mobler/bryggeriserien">
        <figure class="with-caption-overlay">
            <img src="{{theme.link}}/assets/img/mo-bryggeriserien.jpg" alt="Bryggeriserien" class="mouse-over-image">
            <img src="{{theme.link}}/assets/img/bryggeriserien.jpg" alt="Bryggeriserien">
            <figcaption>
            <h2 class="title">Bryggeriserien</h2> 
            <div class="title-br"></div>
            <p>Paris, Milano, Barcelona. Bryggeriserien er en klassiker som fører tankene hen til de store metropolene og trendy kaféer.</p>
            </figcaption>
            <span class="button transparent-fill white-border">Se hele serien</span>
        </figure>
    </a>
</div>
