<ul>
    <li class="social-media-icon icon-facebook">
        <a href="https://www.facebook.com/Grythyttan.Stalmobler/?fref=ts">
            <img src="{{theme.link}}/assets/img/icons/icon-fb-wo-box.svg" alt="Facebook">
        </a> 
    </li>
    <!--<li class="social-media-icon icon-twitter">
        <a href="#">
            <img src="{{theme.link}}/assets/img/icons/icon-twitter.svg" alt="Twitter">
        </a>    
    </li>
    <li class="social-media-icon icon-instagram">
        <a href="#">
            <img src="{{theme.link}}/assets/img/icons/icon-instagram.svg" alt="Instagram">
        </a> 
    </li>-->
</ul>
