@media (min-height: 480px) {
    .slider {
        .full-height {
            min-height: 100vh;
        }
    }
}

@media (min-height: 600px) {
        .footer-background {
        .logo {
            margin-top: -200px;
        }
    }
}

@media (min-height: 768px) {
    .footer-background {
        .logo {
            img {
                max-width: 300px;
            }
        }
    }
}

@media (min-width: 400px) {

    /* ==========================================================================
    Sektioner
    ========================================================================== */
    #produktserier {
        .inner-column {
            p {
                //display: none;
            }
        }
    }
}

@media (min-width: 650px) {

    /* ==========================================================================
    Grid
    ========================================================================== */
    .column-3 {
        width: 50%;
        float: left;
    }

    /* ==========================================================================
    Globals
    ========================================================================== */

    /*
     * Typografi
     */
    h1 {
        font-size: 45px;
    }

    /* ==========================================================================
    Sektioner
    ========================================================================== */
    
    /*
     * Intro
     */
    #intro {
        h1 {
            font-size: 46px;
        }
    }

    #produktserier {
        h2 {
            font-size: 35px;
        }
        .inner-column {
            p {
                display: block;
            }
        }
    }

    /* ==========================================================================
    Sidor
    ========================================================================== */

    /*
     * Våra möbelserier
     */
    .overview-category-products {
        .product-list {
            li {
                width: 33.333333%;
            }
        }
    }

}
@media (min-width: 768px) {


    /* ==========================================================================
    Globals
    ========================================================================== */
    
    /*
     * Slider
     */
    .slider {
        .full-height {
            min-height: 80vh;
        }
    }

    /* ==========================================================================
    Header & meny
    ========================================================================== */

    .brand {
        width: auto;
    }

    /* ==========================================================================
    Sektioner
    ========================================================================== */

    /*
     * Generellt
     */
    .section-content { 
        margin: 0 auto;
        width: 70%;
    }
    

    /*
     * Hantverk
     */
    #hantverk {
        .slide-1 {
            .round-button {
                //margin: 30px 0; 
            }
            .section-content {
                @include center-block;
                margin-top: 105px;
                width: 48.717948717949%;
            }
            h1,
            p {
                text-align: center;
            }
                
        }
        .section-content {
            margin-top: 105px;
        }
    }
    
    /*
     * High tech
     */
    #high-tech {
        
        .section-content {
            margin-top: 130px;
            margin-left: 52.564102564103%;
            width: 48.717948717949%;
        }
        .button-wrap {
            margin: 30px 0;
        }
    }

    /*
     * Historia
     */
    #historia {
        .section-content {
            margin-top: 110px;
        }
    }

    /*
     * Produktserier
     */
    #produktserier {
        h1 {
            margin: 116px 0 53px 0;
        }
    }

    /* ==========================================================================
    Sidor
    ========================================================================== */
    
    /*
     * Våra möbelserier
     */
    .overview {
        h1 {
            text-align: left;
        }
    }
    .overview-category-description {
        margin-right: 2.564102564103%;
        width: 31.623931623932%;
        float: left;
    }
    .overview-category-products {
        width: 65.811965811966%;
        float: right;
        .product-list {
            li {
                width: 25%;
            }
        }
    }

    
}

@media (min-width: 850px) {

    /* ==========================================================================
    Header & meny
    ========================================================================== */
    .brand {
        float: left;
        .social-media-icons {
            display: block;
        }
    }

    .main-menu {
        display: block;
        clear: none;
        margin-top: 25px;
        float: right;
        .main-menu-item {
            margin: 0 3px;
            display: inline-block;
        }
        .social-media-icons {
            display: none;
        }
    }
    .mobile-menu-icon-wrap {
        display: none;
    }
    .below-fixed-header {
        padding-top: 150px;
    }

    /* ==========================================================================
    Sektioner
    ========================================================================== */

    /*
     * Generellt
     */
    .title-br {
        margin: 24px 0 30px 0; 
    }
    .section-content {
        margin: 0;
        width: 40.17094017094%;
        h1,
        p {
            text-align: left;
        }
    }

    /*
     * Intro
     */
    #intro {
        background-image: url('../img/start-large.jpg');
        .section-content {
            p {
                text-align: left;
            }
        }
        .title-br {
            margin-left: 0;
            margin-right: 0;
        }
    }
    #high-tech {
        .section-image {
            width: 50%;
            float: left;
        }
    }

    /* ==========================================================================
    Helpers
    ========================================================================== */
    .hide-on-small {
        display: block;
    }
    .hide-on-large {
        display: none;
    }
}

@media (min-width: 1024px) {

    /* ==========================================================================
    Grid
    ========================================================================== */
    .column-3 {
        width: 33.3333%;
    }

    /* ==========================================================================
    Globals
    ========================================================================== */
    
    /*
     * Typografi
     */
    h1 {
        font-size: 50px;
    }

    /* ==========================================================================
    Header & meny
    ========================================================================== */

    .site-header {
        position: fixed; 
    }

    /*
     * Menyn
     */
    .main-menu {
        .main-menu-item {
            a {
                padding: 14px 46px 10px 20px;
            }
            .history {
                padding: 14px 60px 10px 20px;
                background-image: url('../img/icons/icon-flag.svg');
                &:hover,
                &.active {
                    background-image: url('../img/icons/icon-flag-hover.svg');
                }
            }
            .reseller {
                background-image: url('../img/icons/icon-marker.svg');
                &:hover,
                &.active {
                    background-image: url('../img/icons/icon-marker-hover.svg');
                }
            }
            .furniture-series {
                background-image: url('../img/icons/icon-mobler.svg');
                &:hover,
                &.active {
                    background-image: url('../img/icons/icon-mobler-hover.svg');
                }
            }
        }
    }
    
    /* ==========================================================================
    Sektioner
    ========================================================================== */

    /*
     * Intro
     */
    #intro {
        .section-content {
            margin-top: 230px;
        }
    }
    
    /* ==========================================================================
    Sektioner
    ========================================================================== */
    .overview {
        margin-top: 150px;
        .column-3 {
            width: 50%;
        }
    }
    .overview-category-products {
        margin-top: 88px;
    }
}

@media (min-width: 1140px) {

    /* ==========================================================================
    Sektioner
    ========================================================================== */

    /*
     * Intro
     */
    #intro {
        h1 {
            font-size: 56px;
        }
    }
}
