@media (min-width: 500px) {

    /* ==========================================================================
    Sidor
    ========================================================================== */

    /*
     * Våra möbelserier
     */
    .overview-category-products {
        li {
            width: 33.333333%;
        }
    }

}
@media (min-width: 700px) {

    /* ==========================================================================
    Sektioner
    ========================================================================== */

    /*
     * Generellt
     */
    
    .section-content {
        width: 40.17094017094%;
    }

    /*
     * Intro
     */
    #intro {
        .section-content {
            margin-top: 230px;
        }
    }

    /*
     * Hantverk
     */
    #hantverk {
        .slide-1 {
            .section-content {
                width: 48.717948717949%;
            }
        }
    }

    /*
     * High tech
     */
    #high-tech {
        .section-content {
            margin-top: 130px;
            margin-left: 52.564102564103%;
            width: 48.717948717949%;
        }
    }

    /*
     * Historia
     */
    #historia {
        .section-content {
            margin-top: 110px;
        }
    }

    /*
     * Produktserier
     */
    #produktserier {
        h1 {
            margin: 116px 0 53px 0;
        }
    }

    /* ==========================================================================
    Sidor
    ========================================================================== */
    
    /*
     * Våra möbelserier
     */
    .overview-category-description {
        margin-right: 2.564102564103%;
        width: 31.623931623932%;
        float: left;
    }
    .overview-category-products {
        width: 65.811965811966%;
        float: right;
        li {
            width: 24.545454545455%;
        }
    }

}

@media (min-width: 930px) {

    .site-header {
        position: fixed; 
    }

    .brand {
        float: left;
    }

    .main-menu {
        display: block;
        margin-top: 25px;
        float: right;
        li {
            margin: 0 3px;
            display: inline-block;
        }
    }
    .below-fixed-header {
        padding-top: 150px;
    }
}
