/* ==========================================================================
   SCSS
   ========================================================================== */

/*
 * Färger
 */
$green: #006539;
$darkGrey: #9f9f9f;

/*
 * Grid
 */
$site-width: 1170px;

/*
 * Mixins
 */
@mixin center-block {
    margin: 0 auto;
    display: block;
}
@mixin clearfix {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
@mixin reset {
    margin: 0;
    padding: 0;
}

/* ==========================================================================
Globals
========================================================================== */
html, body {
    height: 100%;
}
body {
    &.mobelserie {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    &.klassikerserien {
        background: url('../img/bg-klassikerserien.jpg') no-repeat top center fixed;
    }
    &.high-tech {
        background: url('../img/bg-hightech.jpg') no-repeat top center fixed;
    }
    &.bryggeriserien {
        background: url('../img/bg-bryggeriserien.jpg') no-repeat top center fixed;
    }
}

/*
 * Element
 */
img {
    max-width: 100%;
    height: auto;
}
section {
    overflow: hidden;
    position: relative;
}
.button {
    padding: 13px 20px 10px 20px;
    border-radius: 20px;
    display: inline-block;
    border: 2px solid $darkGrey;
    font-size: 15px;
    text-decoration: none;
    line-height: 1;
    color: black;
    transition: background-color border .2s;
}
.round-button {
    font-size: 15px;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    display: table-cell;
    line-height: 1;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    transition: all .2s;
    
    &:hover {
        background: $green;
        color: white !important;
        border: 2px solid $green;
    }
}
.green-border {
    border: 2px solid $green;
}
.green-fill {
    background: $green;
    color: white;
}
.grey-border {
    border: 2px solid $darkGrey;
    &:hover {
        border: 2px solid $darkGrey;
        background: $darkGrey;
        color: white;
    }
}
.grey-fill {
    background: $darkGrey;
    color: white;
}
.white-fill {
    background: white;
    color: $green;
}
.white-border {
    border: 2px solid white;
}
.transparent-fill {
    &.white-border {
        color: white;
    }
    &.green-border {
        color: $green;
    }
    &.grey-border {
        color: black;
    }
}

/*
 * Typografi
 */
body {
    font-family: HelveticaNeueLTStd-Lt;
    font-weight: normal;
    font-style: normal;
}
h1, h2 {
    color: $green;
    font-weight: lighter;
}
h1 {
    font-size: 35px;
    line-height: 1.1;
}
h2 {
    margin: 0;
    font-size: 35px;
    line-height: 1;
}
p {
    font-weight: lighter;
}

/*
 * Layout
 */
.site-width {
    @include center-block;
    max-width: $site-width;
    width: 95%;
    position: relative;
}
.full-height {
    min-height: 100vh;
}

/*
 * Slider
 */
.slider {
    font-size: 20px;
    .full-height {
        min-height: 480px;
    }
    .title-br {
        background: white;
    }
    .slick-dots {
        margin: 0;
        padding: 0;
        position: relative;
        top: -51px;
        text-align: center;
        li {
            margin: 0 6px;
            display: inline-block;
        }
        button {
            padding: 0;
            width: 10px;
            height: 10px;
            border-radius: 100px;
            text-indent: -9999px;
            color: white;
            background: $green;
            border: none;
        }
        .slick-active button {
            background: white;
        }
    }
}

/* ==========================================================================
Grid
========================================================================== */

.row {}
.column-3 {
}
.inner-column {
    padding: 1px;
}

/* ==========================================================================
Header & meny
========================================================================== */

.site-header {
    @include clearfix;
    width: 100%;
    background: white;
    z-index: 2;
    -webkit-transition-property: background;
    -webkit-transition-duration: .2s;
    transition-property: background;
    transition-duration: .2s;
    .inner {
        @include center-block;
        width: 95%;
    }
    .logo {
        margin-right: 20px;
        img {
            margin: 18px 0;
            max-width: 180px;
            width: 100%;
        }
    }
    .header-border {
        display: none;
        position: relative;
        bottom: -1px;
        width: 100%;
        height: 1px;
        background: black;
        opacity: .1;
    }
}
.home .site-header {
    background: none;
    &.fixed {
        background: white;
        .header-border {
            display: block;
        }
    }
}
/*
 * Logga och social media
 */
.brand {
    @include clearfix;
    display: block;
    float: left;
    width: 50%;
    .social-media-icons {
        display: none;
    }
}
.logo,
.social-media-icons {
    float: left;
}

.social-media-icons {
    margin-top: 35px;
    ul {
        @include reset;
    }
    li {
        margin: 0 10px;
        display: block;
        float: left;
    }
    img {
        height: 18px;
    }
}

/*
 * Menyn
 */
.mobile-menu-icon-wrap {
    margin-top: 22px;
    float: right;
}
.mobile-menu-icon {
    width: 30px;
    height: 30px;
    background: url("../img/icons/icon-menu.svg") no-repeat white;
    border: none;
    text-indent: -9999px;
    &:focus {
        outline: 0;
    }
}
.main-menu {
    clear: both;
    display: none;
    &.open {
        display: block;
    }
    ul {
        @include reset;
    }
    .main-menu-item {
        margin: 9px auto;
        max-width: 320px;
        display: block;
        a {
            padding: 14px 20px 10px 20px;
            display: block;
            font-size: 13px;
            text-transform: uppercase;
            background-repeat: no-repeat;
            background-size: auto 18px;
            background-position: right 20px center;
            &.active,
            &:hover {
                color: white;
                background-color: $darkGrey;
            }
        }
        
    }

    .social-media-icons {
        margin-top: 18px;
        float: none;
        ul {
            text-align: center;
        }
        li {
            float: none;
            display: inline;
        }
        a {
            text-decoration: none;
        }
    }
}

/* ==========================================================================
Sektioner
========================================================================== */

/*
 * Generellt
 */
.below-fixed-header {
}

.has-background {
    background-position: 50% 50%;
    background-size: cover;
}

.title-br {
    margin: 24px auto 30px auto;
    width: 100px;
    height: 2px;
    background: #ccc;
}


.section-content {
    margin-top: 40px;
    width: 100%;
    h1 {
        text-align: center;
    }
    p {
        margin: 0;
        text-align: center;
    }
    &.on-background {
        color: white;
        h1, p {
            color: white;
        }
    }
}

/*
 * Intro
 */
#intro {
    h1 {
        font-size: 36px;
    }
    .section-content {
        p {
            margin-bottom: 30px;
            text-align: center;
        }
        .round-button {
            width: 100px;
            height: 87px;
            padding-top: 13px;
        }
    }
    .title-br {
        margin-left: auto;
        margin-right: auto;
    }
    .floating-button {
        position: absolute;
        top: 50vh;
        margin-top: -50px;
        width: 100%;
        .button-wrap {
            position: absolute;
            right: 0;
        }
    }
}

/*
 * Hantverk
 */

#hantverk {
    
    .round-button {
        margin: 30px auto 0;
        padding-top: 25px;
        width: 70px;
        height: 45px;
        display: block;
        font-size: 25px;
    }

    /* Slider */
    .slide-1 {
        font-size: 16px;
        background-image: url('../img/slides/hantverk/hantverk-1.jpg');
        .section-content {
            text-align: center;
        }
        .round-button {
            margin: 50px auto 0 auto;
            padding-top: 35px;
            width: 90px;
            height: 55px;
            font-size: 15px;
        }
    }
    .slide-2 {
        background-image: url('../img/slides/hantverk/hantverk-2.jpg');
    }
    .slide-3 {
        background-image: url('../img/slides/hantverk/hantverk-3.jpg');
    }
    .slide-4 {
        background-image: url('../img/slides/hantverk/hantverk-4.jpg');
    }
    .slide-5 {
        background-image: url('../img/slides/hantverk/hantverk-5.jpg');
    }
}

#high-tech {
    .section-image {
        width: 100%;
    }
    .button-wrap {
        margin: 30px auto;
        width: 90px;
    }
}

#historia {
    background-image: url('../img/historia.jpg');
    .section-content {
    }
}

#produktserier {
    .inner-column:hover {
        h2 {
            color: $green;
        }
        p {
            display: none;
        }
        .title-br {
            background: $green;
        }
        .mouse-over-image {
            opacity: 1;
        }
        .button {
            background: $green;
            color: white;
            border: 2px solid $green;
        }
    }
    h1 {
        text-align: center;
    }
    h2 {
        font-size: 25px;
        color: white;
    }
    p {
        color: white;
    }
    figure {
        margin: 0;
        position: relative;
        figcaption {
            padding: 40px 30px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .mouse-over-image {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity .4s;
    }
    .title-br {
        margin: 22px 0 18px 0;
        background-color: white;
    }
    .button {
        position: absolute;
        bottom: 40px;
        left: 30px;
    }
}

/* ==========================================================================
Sidor
========================================================================== */

/*
 * Våra möbelserier
 */
.overview {
    h1 {
        margin-top: 0;
        text-align: center;
        color: white;
    }
    .title-br {
        background: white;
    }
}
.overview-categories {
    .title-br {
        margin-bottom: 0;
    }
}
.overview-category-description {
    color: white;
}
.overview-category-products {
    @include clearfix;
    .product-list {
        margin: 0;
        padding: 0;
        clear: both;
        overflow: hidden;
        li {
            width: 50%;
            float: left;
            display: block;
            .inner {
                padding: 1px;
            }
            .product {
                padding: 8px;
                background-color: white;
            }
            a {
                color: black;
                text-decoration: none;
            }
        }
    }
    
}

/* ==========================================================================
Footer
========================================================================== */

footer {
    margin: 0 0 20px 0;
    width: 100vw;
    height: 80vh;
    min-height: 400px;
    position: relative;
    top: 130px;
    background-image: url('../img/made.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    display: table-cell;
    vertical-align: middle;
    .logo {
        //margin-top: -200px;
        float: none;
        font-size: 18px;
        text-align: center;
        img {
            @include center-block;
            max-width: 190px;
            width: 100%;
        }
    }
}



/* ==========================================================================
Helpers
========================================================================== */
.hide-on-small {
    display: none;
}

.center-block {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
}


@import "mq"
