@charset "UTF-8";
/* ==========================================================================
   SCSS
   ========================================================================== */
/*
 * Färger
 */
/*
 * Grid
 */
/*
 * Mixins
 */
/* ==========================================================================
Globals
========================================================================== */
/*
 * Element
 */
img {
  max-width: 100%;
  height: auto; }

section {
  overflow: hidden;
  position: relative; }

.button {
  font-size: 15px; }

.round-button {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  display: table-cell;
  background: #006539;
  color: white;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  text-decoration: none; }

/*
 * Typografi
 */
h1, h2 {
  color: #006539;
  font-weight: lighter; }

h1 {
  font-size: 50px;
  line-height: 1.1; }

h2 {
  margin: 0;
  font-size: 35px;
  line-height: 1; }

p {
  font-weight: lighter; }

/*
 * Layout
 */
.site-width {
  margin: 0 auto;
  display: block;
  max-width: 1170px;
  width: 95%; }

.full-height {
  min-height: 100vh; }

/*
 * Slider
 */
.slider .slick-dots {
  margin: 0;
  padding: 0;
  position: relative;
  top: -51px;
  text-align: center; }
  .slider .slick-dots li {
    margin: 0 6px;
    display: inline-block; }
  .slider .slick-dots button {
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    text-indent: -9999px;
    color: white;
    background: white;
    border: none; }
  .slider .slick-dots .slick-active button {
    background: #9f9f9f; }

/* ==========================================================================
Header & meny
========================================================================== */
.site-header {
  display: inline-block;
  width: 100%;
  z-index: 2;
  -webkit-transition-property: background;
  -webkit-transition-duration: .2s;
  transition-property: background;
  transition-duration: .2s; }
  .site-header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .site-header .inner {
    margin: 0 auto;
    display: block;
    width: 95%; }
  .site-header .logo img {
    margin: 18px 0;
    max-width: 180px;
    width: 100%; }
  .site-header.fixed {
    background: white; }

/*
 * Logga och social media
 */
.brand {
  display: inline-block;
  display: block; }
  .brand:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.logo,
.social-media-icons {
  float: left; }

.social-media-icons {
  margin-top: 31px; }
  .social-media-icons ul {
    margin: 0;
    padding: 0; }
  .social-media-icons li {
    margin: 0 10px;
    display: block;
    float: left; }
  .social-media-icons img {
    height: 18px; }

/*
 * Menyn
 */
.main-menu {
  display: none; }
  .main-menu ul {
    margin: 0;
    padding: 0; }
  .main-menu li {
    margin: 9px auto;
    max-width: 320px;
    display: block; }
  .main-menu a {
    padding: 0 40px 0 20px;
    height: 38px;
    line-height: 38px;
    display: block;
    border-radius: 20px;
    background: white;
    background-repeat: no-repeat;
    background-size: auto 18px;
    background-position: right 10px center;
    border: 2px solid #9f9f9f;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    color: black; }
    .main-menu a.active, .main-menu a:hover {
      color: white;
      background: #9f9f9f; }
  .main-menu .history {
    background-image: url("../img/icons/icon-flag.svg"); }
  .main-menu .reseller {
    background-image: url("../img/icons/icon-marker.svg"); }
  .main-menu .furniture-series {
    background-image: url("../img/icons/icon-mobler.svg"); }

/* ==========================================================================
Sektioner
========================================================================== */
/*
 * Generellt
 */
.has-background {
  background-position: 50% 50%;
  background-size: cover; }

.title-br {
  margin: 24px 0 30px 0;
  width: 100px;
  height: 2px;
  background: #ccc; }

.section-content {
  width: 100%; }
  .section-content .title {
    margin: 0; }
  .section-content p {
    margin: 0; }
  .section-content.on-background {
    color: white; }
    .section-content.on-background h1, .section-content.on-background p {
      color: white; }

/*
 * Intro
 */
#intro {
  background-image: url("../img/start.jpg"); }
  #intro h1 {
    font-size: 56px; }
  #intro .button {
    position: relative;
    top: 30px; }

/*
 * Hantverk
 */
#hantverk {
  /* Slider */ }
  #hantverk .section-content {
    margin: 0 auto;
    display: block;
    margin-top: 105px;
    text-align: center; }
  #hantverk .button {
    margin: 50px auto 0 auto;
    display: block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    background: none;
    border: 2px solid white; }
  #hantverk .slide-1 {
    background-image: url("../img/slides/hantverk/hantverk-1.jpg"); }
  #hantverk .slide-2 {
    background-image: url("../img/slides/hantverk/hantverk-2.jpg"); }
  #hantverk .slide-3 {
    background-image: url("../img/slides/hantverk/hantverk-3.jpg"); }
  #hantverk .slide-4 {
    background-image: url("../img/slides/hantverk/hantverk-4.jpg"); }
  #hantverk .slide-5 {
    background-image: url("../img/slides/hantverk/hantverk-5.jpg"); }

#historia {
  background-image: url("../img/historia.jpg"); }

#produktserier .inner-column:hover h2 {
  color: #006539; }
#produktserier .inner-column:hover .title-br {
  background: #006539; }
#produktserier h1 {
  margin: 116px 0 53px 0;
  text-align: center; }
#produktserier h2 {
  color: #9f9f9f; }
#produktserier figure {
  margin: 0 0 23px 0; }
#produktserier .title-br {
  margin: 22px 0 18px 0; }
#produktserier article {
  padding-right: 20px; }

/* ==========================================================================
Footer
========================================================================== */
footer {
  margin: 125px 0; }
  footer .logo {
    float: none; }
    footer .logo img {
      margin: 0 auto;
      display: block;
      max-width: 250px;
      width: 100%; }

/* ==========================================================================
Grid
========================================================================== */
.column-3 {
  width: 33.333%;
  float: left; }

.inner-column {
  padding: 0 1px; }

/* ==========================================================================
Helpers
========================================================================== */
.center-block {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block; }

@media (min-width: 700px) {
  .section-content {
    width: 48.717948717949%; }

  #intro .section-content {
    margin-top: 160px;
    width: 40.17094017094%; }

  #high-tech .section-content {
    margin-top: 130px;
    margin-left: 52.564102564103%; }

  #historia .section-content {
    margin-top: 110px;
    width: 40.17094017094%; } }
@media (min-width: 930px) {
  .site-header {
    position: fixed; }

  .brand {
    float: left; }

  .main-menu {
    display: block;
    margin-top: 25px;
    float: right; }
    .main-menu li {
      margin: 0;
      display: inline-block; } }

/*# sourceMappingURL=style.css.map */
